# Project-D Admin Web Server Configuration
PORT=3001

# Path to Project-D Database Players Directory (if hosted locally on VPS)
DATABASE_PLAYERS_DIR=/root/downloads/Project-D/Core/x64/Release/database/players

# Path to edit_itemv2.json (if hosted locally on VPS)
EDIT_ITEM_PATH=/root/downloads/Project-D/Core/x64/Release/database/json/edit_itemv2.json

# Path to items_dict.json (if hosted locally on VPS)
ITEMS_DICT_PATH=/root/downloads/Project-D/Core/x64/Release/database/items_dict.json

# Project-D Internal HTTP Admin API (C++ Server port 8888)
PROJECT_D_ADMIN_API=http://127.0.0.1:8888
PROJECT_D_ADMIN_TOKEN=4080b44cb0ae479d654c6fdaec4e914498e396a37835956f

# Remote Game Server URL (if web panel is deployed to Vercel/Cloud)
REMOTE_GAME_SERVER=http://secretxz.duckdns.org
